footer {
    position: relative; 
    height: 275px; 
    font-size: 14px;
    font-weight: 400;
    color: #929bbd;
    background: #121835;
    padding-top: 105px;

    a {
        color: #929bbd;
        line-height: 140%;
    }

    .centered {
        max-width: 1140px;
    }

    .col {
        float: left;

        h6 {
            float: left;
            width: 100%;
            font-size: 12px;
            font-weight: 400;
            line-height: 24px;
            margin-top: -10px;
        }

        &.col1 {
            width: 210px;
        }

        .logo {
            margin-left: -14px;

            img {
                float: left;
            }
        }
    }

    ul {
        list-style: none;
        margin-top: 10px;

        &.col2 {
            width: 225px;
        }

        &.col3 {
            width: 145px;
        }

        &.col4 {
            width: 180px;
        }

        &.col5 {
            width: 225px;
        }

        &.col6 {
            width: 150px;
        }

        a {
            &:hover {
                text-decoration: underline;
            }
        }

        li {
            width: 100%;
            float: left;
            line-height: 110%;
            padding-bottom: 14px;

            &.head {
                text-transform: uppercase;
                padding-bottom: 25px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    footer {
        .centered {
            max-width: 990px;
        }

        .col {
            &.col1 {
                width: 170px;
            }
            &.col2 {
                width: 190px;
            }
            &.col3 {
                width: 120px;
            }
            &.col4 {
                width: 160px;
            }
            &.col5 {
                width: 190px;
            }
        }
    }
}

@media screen and (max-width: 1130px) {
    footer {
        .centered {
            max-width: 820px;

            .col {
                width: 120px;
                padding-right: 15px;
            }
        }
    }
}

@media screen and (max-width: 999px) {
    footer {
        height: auto;
        padding: 50px 0;

        .centered {
            padding: 0 30px;
        }
    }
}

@media screen and (max-width: 900px) {
    footer {
        padding-bottom: 30px;

        .centered {
            .col {
                width: 230px;
                padding-bottom: 20px;
            }
        }
    }
}

@media screen and (max-width: 830px) {
    footer {
        .centered {
            .col {
                width: 190px;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    footer {
        .centered {
            .col {
                width: 225px;
            }
        }
    }
}

@media screen and (max-width: 590px) {
    footer {
        .centered {
            .col {
                width: 175px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    footer {
        padding-bottom: 50px;
        
        .centered {
            .col {
                width: 130px;
                padding-bottom: 0;

                h6 {
                    padding-bottom: 50px;
                }

                li {
                    display: none;

                    &.head {
                        display: block;
                        padding-bottom: 5px;
                    }
                }
            }
        }
    }
}
